<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="task_mapper">

	<select id="findTaskList" resultType="Task">
		SELECT *
		FROM TF_TASK
	</select>

	<select id="findTaskById" resultType="Task" parameterType="int">
		SELECT *
		FROM TF_TASK
		WHERE id = #{id}

	</select>
	<!-- 오늘 내가 해야 할 일 조회 (가중치 포함) --> 
	<select id="findTodayTaskByUser"
		resultType="com.app.dto.task.Task">
		SELECT
		t.*,
		p.NAME AS projectName,
		
		(t.PROGRESS_PERCENT * t.WEIGHT) AS weightedProgress
		FROM TF_TASK t
		JOIN
		TF_TASK_ASSIGNEE ta ON t.ID = ta.TASK_ID
		JOIN TF_PROJECT p ON
		t.PROJECT_ID = p.ID
		WHERE ta.USER_ID = #{empno}
		AND (
		TRUNC(t.DUE_DATE) =
		TRUNC(SYSDATE) 
		OR TRUNC(t.START_DATE) = TRUNC(SYSDATE) 
		OR t.STATUS IN ('TODO','ONGOING') 
		)
		ORDER BY
		t.PRIORITY DESC, t.DUE_DATE ASC
	</select>
	<!-- 프로젝트 전체 공정율 계산 -->
	<select id="calculateProjectProgress" resultType="double"
		parameterType="int">
		SELECT
		CASE
		WHEN SUM(WEIGHT) = 0 THEN 0
		ELSE
		SUM(PROGRESS_PERCENT * WEIGHT) / SUM(WEIGHT)
		END AS PROJECT_PROGRESS
		FROM TF_TASK
		WHERE PROJECT_ID = #{projectId}
	</select>



	<insert id="saveTask" parameterType="Task">
		INSERT INTO TF_TASK(
		ID,
		PROJECT_ID,
		PARENT_TASK_ID,
		NAME,
		DESCRIPTION,
		STATUS,
		PRIORITY,
		START_DATE,
		DUE_DATE,
		PROGRESS_PERCENT,
		CREATED_AT,
		UPDATED_AT
		)
		VALUES(
		SEQ_TF_TASK_PK.nextval,
		#{projectId},
		#{parentTaskId},
		#{name},
		#{description},
		#{status},
		#{priority},
		#{startDate},
		#{dueDate},
		#{progressPercent},
		#{createdAt},
		#{updatedAt}
		)
	</insert>

	<delete id="removeTask" parameterType="int">
		DELETE FROM TF_TASK
		WHERE
		ID = #{id}
	</delete>

	<update id="modifyTask" parameterType="Task">
		UPDATE TF_TASK
		SET
		PROJECT_ID = #{projectId},
		PARENT_TASK_ID = #{parentTaskId},
		NAME =
		#{name},
		DESCRIPTION = #{description},
		STATUS = #{status},
		PRIORITY =
		#{priority},
		START_DATE = #{startDate},
		DUE_DATE = #{dueDate},
		PROGRESS_PERCENT = #{progressPercent},
		CREATED_AT = #{createdAt},
		UPDATED_AT = #{updatedAt}
		WHERE ID = #{id}
	</update>
	<update id="updateStatus">
		UPDATE TF_TASK
		SET status = #{status}
		WHERE id =
		#{taskId}
	</update>
	<update id="completeTask" parameterType="int">
		UPDATE TF_TASK
		SET STATUS
		= 'DONE',
		PROGRESS_PERCENT = 100,
		UPDATED_AT = SYSDATE
		WHERE ID =
		#{taskId}
	</update>
	<update id="updateProjectProgress" parameterType="map">
		UPDATE TF_PROJECT
		SET PROGRESS =
		CASE
		WHEN (SELECT SUM(WEIGHT) FROM TF_TASK WHERE PROJECT_ID = #{projectId}) = 0
		THEN 0
		ELSE (
		SELECT SUM(PROGRESS_PERCENT * WEIGHT) / SUM(WEIGHT)
		FROM TF_TASK
		WHERE PROJECT_ID = #{projectId}
		)
		END,
		UPDATED_AT = SYSDATE
		WHERE ID = #{projectId}
	</update>



</mapper>