<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendarEvent_mapper">

	<select id="findCalendarEventListByUserId"
		resultType="CalendarEvent" parameterType="int">
		SELECT *
		FROM
		TF_CALENDAR_EVENT
		WHERE
		USER_ID = #{userId}
	</select>

	<select id="findCalendarEventByEId" resultType="CalendarEvent"
		parameterType="String">
		SELECT *
		FROM TF_CALENDAR_EVENT
		WHERE e_id = #{eId}
	</select>

	<select id="findCalendarEventByTaskId"
		resultType="CalendarEvent" parameterType="int">
		SELECT *
		FROM
		TF_CALENDAR_EVENT
		WHERE task_id = #{taskId}
	</select>

	<insert id="saveCalendarEvent" parameterType="CalendarEvent">
		INSERT INTO
		TF_CALENDAR_EVENT(
		ID,
		USER_ID,
		PROJECT_ID,
		TASK_ID,
		NAME,
		START_DATE,
		END_DATE,
		TYPE,
		CREATED_AT,
		UPDATED_AT
		)
		VALUES(
		SEQ_TF_CALENDAR_EVENT_PK.nextval,
		#{userId},
		#{projectId},
		#{taskId},
		#{name},
		#{startDate},
		#{endDate},
		#{type},
		SYSDATE,
		SYSDATE
		)
	</insert>

	<delete id="deleteCalendarEventByEId" parameterType="String">
		DELETE FROM
		TF_CALENDAR_EVENT
		WHERE
		E_ID = #{eId}
	</delete>

	<update id="modifyCalendarEvent" parameterType="CalendarEvent">
		UPDATE
		TF_CALENDAR_EVENT
		SET
		USER_ID = #{userId},
		PROJECT_ID = #{projectId},
		TASK_ID = #{taskId},
		NAME = #{name},
		START_DATE = #{startDate},
		END_DATE
		= #{endDate},
		TYPE = #{type},
		CREATED_AT = #{createdAt},
		UPDATED_AT =
		#{updatedAt}
		WHERE ID = #{id}
	</update>

	<update id="upsertCalendarEvent" parameterType="CalendarEvent">
		MERGE INTO
		tf_calendar_event t
		USING DUAL
		ON (t.e_id = #{eId})

		WHEN MATCHED THEN
		UPDATE SET
		t.name = #{name},
		t.start_date = #{startDate},
		t.end_date =
		#{endDate},
		t.e_tag = #{eTag}, t.updated_at = SYSDATE
		WHERE (t.e_tag IS
		NULL OR t.e_tag != #{eTag}) WHEN NOT MATCHED THEN
		INSERT (
		ID,
		USER_ID,
		PROJECT_ID,
		TASK_ID,
		NAME,
		START_DATE,
		END_DATE,
		TYPE,
		CREATED_AT,
		UPDATED_AT, E_ID, E_TAG
		)
		VALUES(
		SEQ_TF_CALENDAR_EVENT_PK.nextval,
		#{userId},
		#{projectId},
		#{taskId},
		#{name},
		#{startDate},
		#{endDate},
		#{type},
		SYSDATE,
		SYSDATE,
		#{eId},
		#{eTag}
		)
	</update>

	<delete id="deleteRemovedEvents" parameterType="list">
		DELETE FROM TF_CALENDAR_EVENT
		WHERE E_ID NOT IN
		<foreach collection="list" item="eId" open="(" separator=","
			close=")">
			#{eId}
		</foreach>
	</delete>
</mapper>