<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="calendarEvent_mapper">

	<select id="findCalendarEventListByUserId" resultType="CalendarEvent" parameterType="int">
		SELECT *
		FROM
		TF_CALENDAR_EVENT
		WHERE 
        USER_ID = #{userId}
	</select>

	<select id="findCalendarEventByEId" resultType="CalendarEvent"
		parameterType="String">
		SELECT *
		FROM TF_CALENDAR_EVENT
		WHERE e_id = #{eId}
	</select>
	
	<select id="findCalendarEventByTaskId" resultType="CalendarEvent"
		parameterType="int">
		SELECT *
		FROM TF_CALENDAR_EVENT
		WHERE task_id = #{taskId}
	</select>

    <!-- 일정 단건 조회 -->
    <select id="findCalendarEventByEId" resultType="CalendarEvent" parameterType="string">
        SELECT * FROM TF_CALENDAR_EVENT WHERE EID = #{eId}
    </select>

	<delete id="deleteCalendarEventByEId" parameterType="String">
		DELETE FROM
		TF_CALENDAR_EVENT
		WHERE
		E_ID = #{eId}
	</delete>

    <!-- 일정 수정 -->
    <update id="modifyCalendarEvent" parameterType="CalendarEvent">
        UPDATE TF_CALENDAR_EVENT
        SET NAME = #{name},
            START_DATE = #{startDate},
            END_DATE = #{endDate},
            TYPE = #{type},
            UPDATED_AT = SYSDATE
        WHERE ID = #{id}
    </update>

    <!-- 특정 사용자 주간 일정 조회 -->
    <select id="findWeekCalendarEvents" resultType="CalendarEvent" parameterType="int">
        SELECT *
        FROM TF_CALENDAR_EVENT
        WHERE USER_ID = #{userId}
          AND START_DATE BETWEEN TRUNC(SYSDATE, 'IW') AND TRUNC(SYSDATE, 'IW') + 7
    </select>

		WHEN MATCHED THEN
		UPDATE SET
		t.name = #{name},
		t.start_date = #{startDate},
		t.end_date = #{endDate},
		t.e_tag = #{eTag}, t.updated_at = SYSDATE
		WHERE (t.e_tag IS NULL OR t.e_tag != #{eTag}) WHEN NOT MATCHED THEN
		INSERT (
		ID,
		USER_ID,
		PROJECT_ID,
		TASK_ID,
		NAME,
		START_DATE,
		END_DATE,
		TYPE,
		CREATED_AT,
		UPDATED_AT, E_ID, E_TAG
		)
		VALUES(
		SEQ_TF_CALENDAR_EVENT_PK.nextval,
		#{userId},
		#{projectId},
		#{taskId},
		#{name},
		#{startDate},
		#{endDate},
		#{type},
		SYSDATE,
		SYSDATE,
		#{eId},
		#{eTag}
		)
	</update>
	
	<delete id="deleteRemovedEvents" parameterType="list">
    DELETE FROM TF_CALENDAR_EVENT
    WHERE E_ID NOT IN 
    <foreach collection="list" item="eId" open="(" separator="," close=")">
        #{eId}
    </foreach>
</delete>
</mapper>
