<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment_mapper">

	<select id="findCommentList" resultType="Comment">
		SELECT *
		FROM TF_COMMENT
	</select>
	
	<select id="findCommentById" resultType="Comment" parameterType="int">
		SELECT *
		FROM TF_COMMENT
		WHERE id = #{id}
	</select>

	<insert id="saveComment" parameterType="Comment">
		INSERT INTO TF_COMMENT(
			ID,
			POST_ID,
			AUTHOR_USER_ID,
			PARENT_COMMNET_ID,
			CONTENT,
			CREATED_AT,
			UPDATED_AT
			
		)
		VALUES(
		#{id},
		#{postId},
		#{authorUserId},
		#{parentCommentId},
		#{content},
		#{createdAt},
		#{updatedAt}
		)
	</insert>
	
	<delete id="removeComment" parameterType="int">
		DELETE FROM TF_COMMENT
		WHERE
		ID = #{id}
	</delete>

	<update id="modifyComment" parameterType="Comment">
		UPDATE TF_COMMENT
		SET
		POST_ID = #{postId},
		AUTHOR_USER_ID = #{authorUserId},
		PARENT_COMMENT_ID = #{parentCommentId},
		CONTENT = #{content},
		CREATED_AT = #{createdAt},
		UPDATED_AT = #{updatedAt}
		WHERE ID = #{id}
	</update>

</mapper>