<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace="board_mapper">

	<select id="findBoardList" resultType="Board">
		SELECT *
		FROM TF_BOARD
	</select>
	
	<select id="findBoardById" resultType="Board" parameterType="int">
		SELECT *
		FROM TF_BOARD
		WHERE id = #{id}
	</select>

	<insert id="saveBoard" parameterType="Board">
		INSERT INTO TF_BOARD(
			ID,
			NAME,
			PROJECT_ID,
			CREATED_AT
		)
		VALUES(
		#{id},
		#{name},
		#{projectId},
		#{createdAt}
		)
	</insert>
	
	<delete id="removeBoard" parameterType="int">
		DELETE FROM TF_BOARD
		WHERE
		ID = #{id}
	</delete>

	<update id="modifyBoard" parameterType="Board">
		UPDATE TF_BOARD
		SET
		NAME = #{name},
		PROJECT_ID = #{projectId},
		CREATED_AT = #{createdAt}
		WHERE ID = #{id}
	</update>
	
</mapper>