<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user_mapper">

	<select id="findUserList" resultType="User">
		SELECT *
		FROM TF_USER
	</select>

	<select id="findUserByEmpno" resultType="User"
		parameterType="int">
		SELECT *
		FROM TF_USER
		WHERE EMPNO = #{empno}
	</select>
	
	<select id="findUserByEmail" resultType="User"
		parameterType="string">
		SELECT *
		FROM TF_USER
		WHERE EMAIL = #{email}
	</select>

	<select id="findUsersByDeptnoList" resultType="User"
		parameterType="java.util.List">
		SELECT *
		FROM TF_USER
		WHERE DEPTNO IN
		<foreach collection="list" item="deptno" open="("
			separator="," close=")">
			#{deptno}
		</foreach>
		ORDER BY DEPTNO, EMPNO
	</select>

	<insert id="saveUser" parameterType="User">
		INSERT INTO TF_USER(
		EMPNO,
		EMAIL,
		PASSWORD,
		NAME,
		POSITION,
		DEPTNO,
		STATUS,
		STARTED_AT,
		CREATED_AT,
		UPDATED_AT
		)
		VALUES(
		#{empno},
		#{email},
		#{password},
		#{name},
		#{position},
		#{deptno},
		#{status},
		#{startedAt},
		#{createdAt},
		#{updatedAt}
		)
	</insert>
	
	<insert id="createUser" parameterType="AdminUserUpdate">
		INSERT INTO TF_USER(
		EMPNO,
		EMAIL,
		PASSWORD,
		NAME,
		POSITION,
		DEPTNO,
		STATUS,
		STARTED_AT,
		CREATED_AT,
		UPDATED_AT
		)
		VALUES(
		#{empno},
		#{email},
		'12345678',
		#{name},
		#{position},
		#{deptno},
		#{status},
		null,
		sysdate,
		sysdate
		)
	</insert>

	<delete id="removeUser" parameterType="int">
		DELETE FROM TF_USER
		WHERE
		EMPNO = #{empno}
	</delete>

	<update id="modifyUser" parameterType="User">
		UPDATE TF_USER
		SET
		EMAIL =
		#{email},
		PASSWORD = #{password},
		NAME = #{name},
		POSITION = #{position},
		DEPTNO = #{deptno},
		STATUS = #{status},
		STARTED_AT = #{startedAt},
		CREATED_AT = #{createdAt},
		UPDATED_AT = #{updatedAt}
		WHERE EMPNO =
		#{empno}

	</update>
	
	<update id="adminUserUpdate" parameterType="AdminUserUpdate">
		UPDATE TF_USER
		SET
		EMAIL =
		#{email},
		NAME = #{name},
		POSITION = #{position},
		DEPTNO = #{deptno},
		STATUS = #{status},
		UPDATED_AT = sysdate
		WHERE EMPNO =
		#{empno}
	</update>

</mapper>		  